---
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
BinPackArguments: true
BinPackParameters: true
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
  SplitEmptyRecord: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
ColumnLimit: 0
Cpp11BracedListStyle: true
IncludeCategories:
  - Regex: '^".*"'
    Priority: 1
  - Regex: '^<.*/.*\.h>'
    Priority: 2
  - Regex: '^<[^/\.]*>'
    Priority: 3
  - Regex: '^<.*\.h>'
    Priority: 4
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
InsertNewlineAtEOF: true
Language: Cpp
RequiresClausePosition: WithPreceding
SpaceBeforeCpp11BracedList: false
SpaceBeforeParens: Never
SpacesBeforeTrailingComments: 4
TabWidth: 4
...
