#==============================
# IDEs
#==============================
.vs
.idea
.vscode

#==============================
# C++
#==============================
build/

#==============================
# Misc
#==============================
*.dotSettings.user
**/tmp/
